.header__logo {
 width: 880px;
 max-height: 270px;
 overflow: hidden;
}

@media screen and (max-width: 827px) {
  .header__logo {
    width: 600px;
  }
}

@media screen and (max-width: 601px) {
  .header__logo {
    width: 400px;
  }
}

@media screen and (max-width: 401px) {
  .header__logo {
    width: 350px;
  }
}